<If "%{HTTPS} != 'on' || %{HTTP_HOST} != 'kreativ-werkstatt-reimer.de'">
    Redirect permanent / https://kreativ-werkstatt-reimer.de/
</If>

ErrorDocument 404 https://kreativ-werkstatt-reimer.de/404.html

# Legacy redirects
<Location "index.php">
    <If "%{QUERY_STRING} =~ /^site=disclaimer/">
        Redirect https://kreativ-werkstatt-reimer.de/impressum/
    </If>
    <ElseIf "%{QUERY_STRING} =~ /^site=contact/">
        Redirect https://kreativ-werkstatt-reimer.de/impressum/
    </ElseIf>
    <ElseIf "%{QUERY_STRING} =~ /^site=gallery/">
        Redirect https://kreativ-werkstatt-reimer.de/galerie/
    </ElseIf>
    <ElseIf "%{QUERY_STRING} =~ /^site=page&id=132/">
        Redirect https://kreativ-werkstatt-reimer.de/kindergeburtstage/
    </ElseIf>
    <ElseIf "%{QUERY_STRING} =~ /^site=page&id=133/">
        Redirect https://kreativ-werkstatt-reimer.de/workshops/
    </ElseIf>
    <ElseIf "%{QUERY_STRING} =~ /^site=page&id=136/">
        Redirect https://kreativ-werkstatt-reimer.de/märkte/
    </ElseIf>
    <Else>
        Redirect https://kreativ-werkstatt-reimer.de/
    </Else>
</Location>
